<header class="header">
  <mat-toolbar>
    <span class="toolbar__spacer"></span>
    <div class="logo-wrapper">
      <span>Restaurant App</span>
      <app-logo-svg></app-logo-svg>
    </div>
    <span class="toolbar__spacer"></span>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      class="toolbar__menu-button"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="navigation-menu">
      <a routerLink="/" mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a routerLink="/menu" mat-menu-item>
        <mat-icon>restaurant_menu</mat-icon>
        <span>Menu</span>
      </a>

      <ng-container *ngIf="isAuth$| async; else register ">
        <a routerLink="/" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </ng-container>
      <ng-template #register>
        <a routerLink="/login" mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
        <a routerLink="/register" mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Sign Up</span>
        </a>
      </ng-template>
    </mat-menu>
  </mat-toolbar>
</header>
