<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>Category: {{ product.category.name | titlecase }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <img
    class="product-card__img"
    mat-card-image
    src="assets/coming-soon-placeholder-squoosh.jpg"
    alt=""
  />
  <mat-card-content>
    <mat-card-subtitle class="card-description">Description</mat-card-subtitle>
    <p *ngIf="product.description">{{ product.description }}</p>
    <p *ngIf="!product.description">There is no description yet.</p>
    <mat-card-title>
      Price: {{ product.price | currency:'UAH':'symbol-narrow': '1.0-2' }}</mat-card-title>
  </mat-card-content>
  <ng-container *ngIf="isAdmin && isEditing">
    <mat-card-actions *ngIf="isAuth">
      <app-menu-dialog [categories]="categories" [receivedProduct]="product"></app-menu-dialog>
      <app-delete-product [receivedProduct]="product"></app-delete-product>
    </mat-card-actions>
  </ng-container>
</mat-card>
