<div class="login-wrapper">
  <mat-card>
    <h2>Login Form</h2>
    <form class="login-form" [formGroup]="loginGroup">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email">
        <!--    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="qwerty" formControlName="password">
        <!--    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
      <div class="login-buttons">
        <button mat-button color="primary" (submit)="onSubmit()">Log In</button>
        <button mat-button color="primary" type="button" routerLink="/register">
          Registration
        </button>
      </div>
    </form>
  </mat-card>
</div>
