.sidenav-container {
  min-height: calc(100vh - 5rem);
  background-color: #EEEEEE;

  .sidenav {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 5rem);

    .search-filter-wrapper {
      margin-top: 22px;
      display: flex;

      .spacer {
        flex: 2 1 auto;
      }

      .search-filter {
        flex: 1 1 auto;
        margin-left: 4%;
      }
    }

    .product-wrapper {
      width: 100%;
      padding: 0 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-columns: auto;
      grid-gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}
