<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <app-product-filtration
      (productFilters)="menuCategoriesHandler($event)"
      [isAdmin]="isAdmin"
    ></app-product-filtration>
  </mat-drawer>
  <div class="sidenav-content">
    <div class="search-filter-wrapper">
      <div class="spacer"></div>
      <div class="search-filter">
        <app-product-search (filter)="menuQueryHandler($event)"></app-product-search>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <div class="spacer"></div>
    </div>
    <ng-container *ngIf="isAdmin && isEditing">
      <app-create-product-btn [categories]="categories"></app-create-product-btn>
    </ng-container>
    <div class="product-wrapper">
      <app-product-item
        *ngFor="let product of products$ | async;"
        [product]="product"
        [isAuth]="isAuth$ | async"
        [isAdmin]="isAdmin"
        [isEditing]="isEditing"
        [categories]="categories"
      ></app-product-item>
    </div>
  </div>
</mat-drawer-container>
