html,
body {
  height: 100%;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 320px;
  background-color: #fff7ed;
}

main {
  min-height: calc(100vh - 5rem);
}
.navigation-menu {
  background-color: #fff7ed !important;
}
