@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto&family=Roboto+Serif&display=swap');

html,
body {
  height: 100%;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 320px;
  background-color: #EEEEEE;
}

main {
  min-height: calc(100vh - 5rem);
}
