<form [formGroup]="createProductGroup" (submit)="onCreateSubmit()">
  <h1 mat-dialog-title>Create product</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        appInputRestriction
        matInput
        formControlName="price"
        type="number"
        min="0"
        inputmode="numeric"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option>--</mat-option>
        <mat-option
          *ngFor="let category of data.categories"
          [value]="category.id"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="createProductGroup.controls.category.hasError('required')"
      >Please choose an category
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="onNoClick()">
      No Thanks
    </button>
    <button
      mat-button
      type="submit"
      color="primary"
    >
      Create Product
    </button>
  </div>
</form>
