.filter-section {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .edit-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .edit-span {
    display: block;
  }

  h2 {
    text-align: center;
  }

  p {
    padding: 0 5px;
  }

  .clear-filters {
    margin: 0 10px;

    &__btn {
      width: 100%;
    }
  }
}
